{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'myJourneys/bookings.css' %}" rel="stylesheet">
    <title>{% translate "Bookings" %}</title>
</head>
<body>


<header class="header-main">
    <div class="header-main-content">
        <nav class="navbar navbar-expand-lg py-3 navbar-dark">
            <div class="container">
                <a href="#" class="navbar-brand">

                </a>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item active"><a href="{% url 'dashboard_user'%}" class="nav-link">{% translate "Dashboard" %}</a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="{% url 'bookings'%}" class="nav-link">{% translate "Bookings" %}</a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <a href="">
                            <img src="{% static 'myJourneys/suber_2.png' %}" alt="logo" class="responsive-logo"/>
                        </a>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="{% url 'account'%}" class="nav-link">{% translate "Settings" %}</a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link">{% translate "Logout" %}</a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>


<div class="acc-main">
    <div class="acc-main-content">
        <div class="inner-main-account">
            <form action="/myJourneys/bookings" method="POST">

                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">{% translate "Booking" %}</h1>

                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-floating">
                            {{ form.pick_up }}
                            <label for="{{ form.pick_up.id_for_label }}">{% translate "Pick up address" %} </label>
                        </div>

                        <div class="form-floating">
                            {{ form.drop_off }}
                            <label for="{{ form.drop_off.id_for_label }}">{% translate "Drop off address" %}</label>
                        </div>
                    </div>

                    <div class="form-floating">
                        {{ form.date }}
                        <label for="{{ form.date.id_for_label }}">{% translate "Date" %}</label>
                    </div>

                    <div class="form-floating">
                        {{ form.time }}
                        <label for="{{ form.time.id_for_label }}">{% translate "Time" %}</label>
                    </div>


                    <div class="form-floating">
                        {{ form.notes }}
                        <label for="{{ form.notes.id_for_label }}">{% translate "Notes" %}</label>
                    </div>

                    <button class="w-100 btn btn-lg book_btn" type="submit">{% translate "Book" %}</button>

                </div>

            </form>
        </div>


    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

</body>
</html>