{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'myJourneys/styles.css' %}" rel="stylesheet">
    <title>{% translate "Dashboard" %}</title>
</head>
<body>

<header class="header-main">
    <div class="header-main-content">
        <nav class="navbar navbar-expand-lg py-3 navbar-dark">
            <div class="container">
                <a href="#" class="navbar-brand">

                </a>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item active"><a href="{% url 'dashboard_driver'%}" class="nav-link">{% translate "Dashboard" %}</a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <a href="">
                            <img src="{% static 'myJourneys/suber_2.png' %}" alt="logo" class="responsive-logo"/>
                        </a>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>


                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">{% translate "Logout" %}</a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<div class="index-main">
    <div class="dashboard-main-content">
        <div class="main-content">
            <div class="inner-main">
                <div class="inner-main-left">
                    <h2>{% translate "Jobs" %}</h2>
                    <div class="inner-main-left-curr-book">
                        <h3>{% translate "Upcoming Jobs" %}</h3>
                        <div class="list-group">

                            {% if current_bookings_list_length == 0 %}   
                                <h6>{% translate "You have no upcoming jobs yet" %}</h6> 

                            {% endif %}

                            {% for booking in current_bookings_list %}

                

                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ booking.pick_up }}-{{ booking.drop_off }}#{{ booking.booking_id }}</h5>
                                    <small>{% translate "Status" %}: {{ booking.status }} </small>
                                </div>
                                <p class="mb-1">{% translate "Date" %}: {{ booking.date }} {{ booking.time }}</p>
                                <p class="mb-1">{% translate "Customer" %}: {{ booking.customer.first_name }}</p>
                                <p class="mb-1">{% translate "Notes" %}: {{ booking.notes }}</p>
                                
                            
                   
                            </a>

                    {% endfor %}
                            
                        </div>

                    </div>
                    <div class="inner-main-left-past-book">
                        <h3>{% translate "Past Jobs" %}</h3>

                        <div class="list-group">

                            {% if past_bookings_list_length == 0 %}   
                                <h6>{% translate "You have no past jobs yet" %}</h6> 

                        {% endif %}

                        {% for booking in past_bookings_list %}

        
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ booking.pick_up }}-{{ booking.drop_off }}#{{ booking.booking_id }}</h5>
                                <small>{% translate "Status" %}: {{ booking.status }} </small>
                            </div>
                            <p class="mb-1">{% translate "Date" %}: {{ booking.date }} {{ booking.time }}</p>
                            <p class="mb-1">{% translate "Customer" %}:{{ booking.customer.first_name }}</p>
                            <p class="mb-1">{% translate "Notes" %}: {{ booking.notes }}</p>
                            
                            <small>{% translate "Estimated fee per km" %}: ${{ booking.fee }}</small>
           
                               
                        </a>

                {% endfor %}
                           
                        </div>


                    </div>

                </div>

                <div class="inner-main-right">
                    <h2>{% translate "Available Jobs" %}</h2>
                    <div class="inner-main-right-noti">
                        <ul class="list-group">

                            
                            {% if available_bookings_list_length == 0 %}   
                                <h6>{% translate "You have no jobs available" %}</h6> 
                            {% endif %}

                            {% for booking in available_bookings_list %}

            
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                
                                <h5 class="mb-1">{{ booking.pick_up }}-{{ booking.drop_off }}#{{ booking.booking_id }}</h5>
                                    
                              
                                <p class="mb-1">{% translate "Date" %}: {{ booking.date }} {{ booking.time }}</p>
                                <p class="mb-1">{% translate "Customer" %}: {{ booking.customer.first_name }}</p>
                                <p class="mb-1">{% translate "Notes" %}: {{ booking.notes }}</p>
                        
                                <a class="btn btn-primary" href="{% url 'accept_booking' booking_id=booking.booking_id driver_id=driver.user_id %}" role="button">Accept</a>
                            </a>

                        {% endfor %}



                          
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>