{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'myJourneys/styles.css' %}" rel="stylesheet">
    <title>{% translate "Dashboard" %}</title>
</head>
<body>

<header class="header-main">
    <div class="header-main-content">
        <nav class="navbar navbar-expand-lg py-3 navbar-dark">
            <div class="container">
                <a href="#" class="navbar-brand">
                  
                </a>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item active"><a href="#" class="nav-link">{% translate "Dashboard" %}</a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link">{% translate "Bookings" %}</a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <a href="">
                            <img src="{% static 'myJourneys/suber_2.png' %}" alt="logo" class="responsive-logo"/>
                        </a>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link">{% translate "Settings" %}</a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link">{% translate "Logout" %}</a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>


<div class="index-main">
    <div class="dashboard-main-content">
        <div class="main-content">
            <div class="inner-main">
                <div class="inner-main-left">
                    <h2>{% translate "Bookings" %}</h2>
                    <div class="inner-main-left-curr-book">
                        <h3>{% translate "Current bookings" %}</h3>
                        <div class="list-group">

                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">PICKUP-DROP_OFF#0001</h5>
                                    <small>{% translate "Status" %}: waiting</small>
                                </div>
                                <p class="mb-1">{% translate "Date" %}: 08/06/2021 19:11</p>
                                <p class="mb-1">{% translate "Driver" %}: Santos</p>
                                <small>{% translate "Fee" %}: $69.00</small>
                            </a>

                        </div>

                    </div>
                    <div class="inner-main-left-past-book">
                        <h3>{% translate "Past bookings" %}</h3>

                        <div class="list-group">

                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">PICKUP-DROP_OFF#0001</h5>
                                    <small>{% translate "Status" %}: waiting</small>
                                </div>
                                <p class="mb-1">{% translate "Date" %}: 08/06/2021 19:11</p>
                                <p class="mb-1">{% translate "Driver" %}: Santos</p>
                                <small>{% translate "Fee" %}: $69.00</small>
                            </a>
                        </div>


                    </div>

                </div>

                <div class="inner-main-right">
                    <h2>{% translate "Notifications" %}</h2>
                    <div class="inner-main-right-noti">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {% translate "Your driver is nearby" %}
                                <span class="badge badge-primary badge-pill">14</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Dapibus ac facilisis in
                                <span class="badge badge-primary badge-pill">2</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Morbi leo risus
                                <span class="badge badge-primary badge-pill">1</span>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

</body>
</html>