{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <title>Add a vehicle</title>

    <link
            rel="canonical"
            href="https://getbootstrap.com/docs/5.0/examples/sign-in/"
    />

    <!-- Bootstrap core CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous"
    />

    <!-- custom css -->
    {% load static %}
    <link href="{% static 'myJourneys/register.css' %}" rel="stylesheet"/>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>
</head>

<body>
<div class="reg-main">
    <div class="reg-main-content">


        <main class="form-register">

            <form action='/myJourneys/register/driver' method="POST">

                {% csrf_token %}


                <img class="responsive" src="{% static 'myJourneys/suber_2.png' %}" alt="">
                <h1 class="h3 mb-3 fw-normal">{% translate "Add a vehicle" %}</h1>

                <div class="row g-2">
                    <div class="form-floating">

                        {{ form.vehicle_type }}
                        <label for="{{ form.vehicle_type.id_for_label }}">{% translate "Vehicle type" %}</label>
                    </div>

                    <div class="form-floating">
                    
                        {{ form.capacity }}
                        <label for="{{ form.capacity.id_for_label }}">{% translate "Capacity" %}</label>
                    </div>

                    <div class="form-floating">

                
                         {{ form.license_plate }}
                        <label for="{{ form.license_plate.id_for_label }}">{% translate "License Plate Code" %}</label>

                    </div>

                    <button class="w-100 btn btn-lg register_btn" type="Add" id="register">{% translate "Add vehicle" %}</button>
                </div>

            </form>

        </main>
    </div>
</div>
</body>
</html>
