/* ---------------- register css ---------------*/


.acc-main{
    background-color: #e6e7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inner-main-account{
    border-radius: 5px;
    width: 50%;
    background-color: #e6e7ff;
    padding: 10px;
    border-style: solid;
    border-color: #f8f9fa;
}

.acc-main-content{
    background-color: #c7cbff;
    position: absolute;
    top: 50%, left: 50%;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

  .form-signin {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .book_btn{
      background-color: #c7cbff;
      color: #ffffff;
  }
  
  /* .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  } */

.header-main{
    background-color: #e6e7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.header-main-content{
    background-color: #c7cbff;
    position: absolute;
    top: 50%, left: 50%;
    width: 80%;
    height: 26vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    margin-bottom: -4vh;
}


  .responsive-logo{
    width: 25vh;
    height: auto;
    padding: 2vh;
}