/* ---------------- register css ---------------*/

html *
{
   color: #000 !important;
   font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif !important;
}
body {
    background-color: #f5f5f5;
 }
 
.languages{
  position: fixed;
  right: 70%;
}
  
  .form-register {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .register_btn{
      background-color: #5e17eb;
      color: #ffffff;
  }

  .login-link{
    color: #5e17eb;
  } 


  .go-to-dashboard{
        background-color: #5e17eb;
        color: #ffffff;
  }
  
  /* .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  } */

  .reg-main{
    background-color: #e6e7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.reg-main-content{
    background-color: #c7cbff;
    position: absolute;
    top: 50%, left: 50%;
    width: 80%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.responsive{
    margin-bottom: 5%;
    width: 25vh;
    height: auto;
    padding: 2vh;
}
